# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

POST /public/login HTTP/1.0
Content-Type: application/json
Content-length: 45

{"email": "escobarglen--@hotmail.com", "senha": "Warrior86"}

